# *****************************************************
# Author:                     Gabriel Leffew
# Creation Date:         October 19th, 2020
# Due Date:                 October 23rd, 2020
# Course:                    CSC223
# Professor Name:     Dr. Dylan Schwesinger
# Assignment:            #4
# Filename:                 main.pynb
# Purpose:                  Use Jupyter notebooks and basic 
#                                   Pandas data manipulation.
# ******************************************************

In [8]:
import pandas as pd

In [9]:
raw_data = pd.read_csv('toycars.csv')  # reads file into variable

In [10]:
processed_data = pd.DataFrame({}, columns=["car1", "car2", "car3"])  # creates a table

In [11]:

angles = raw_data['angle'].unique()
for angle in angles:
    targets = raw_data[raw_data['angle']==angle]
    out = {'car1': targets[targets['car']==1].iloc[0]['distance'],
           'car2': targets[targets['car']==2].iloc[0]['distance'],
           'car3': targets[targets['car']==3].iloc[0]['distance']}
    processed_data.loc[angle] = pd.Series(out)

In [12]:
processed_data = processed_data.apply(lambda x:x*100)
mean = processed_data.mean(axis=1)
stdev = processed_data.std(axis=1)
processed_data['mean'] = mean
processed_data['stdev'] = stdev

In [13]:
processed_data = processed_data.sort_index()

In [14]:
processed_data

      car1   car2  car3        mean      stdev
0.9   27.0   38.0  15.0   26.666667  11.503623
1.1   29.0   43.0  17.0   29.666667  13.012814
1.3   43.0   37.0  27.0   35.666667   8.082904
2.2   58.0   70.0  54.0   60.666667   8.326664
2.7   58.0   64.0  55.0   59.000000   4.582576
3.1   63.0   69.0  60.0   64.000000   4.582576
3.6   70.0   89.0  66.0   75.000000  12.288206
4.0   84.0   92.0  69.0   81.666667  11.676187
4.9  100.0  130.0  95.0  108.333333  18.929694